.list{
  display: flex;
  overflow: scroll;
  padding: 7px 0;
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    min-width: 90vh;
    border-radius: 5px;
    display: flex;
    margin: 0 15px;
    background: #fdfdfd;
    .itemImage {
      padding: 3px;
      img {
        border-radius: 5px;
        height: 12em;
        width: 12em;

      }
      .noImage{
        opacity: 0.1;
      }
    }

    .container {
      padding: 2px 16px;
      margin: auto;
    }
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


}
